// ***********************
// Break Points
// ***********************
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 1222px;
$breakpoint-mobile: 500px;
// @media (max-width: $breakpoint-mobile) {
   
//}