// ***********************
// Color Variables
// ***********************
$white: #fff;
$darkgrey:#757168;
$orange: #D87651;
$yellow: #F1B74B;
$ultraviolet: #535179;
$forestgreen: #81773C;
$red: #ED4337;
$green: #00BB27;