@import url("https://use.typekit.net/lnc5nkb.css");


%Soleil-Regular {
    font-family: soleil, sans-serif;
    font-weight: 400;
    font-style: normal;
}

%Soleil-Bold {
    font-family: soleil, sans-serif;
    font-weight: 700;
    font-style: normal;
}

%Soleil-Semibold {
    font-family: soleil, sans-serif;
    font-weight: 600;
    font-style: normal;
}

%Soleil-Book-Italic {
    font-family: soleil, sans-serif;
    font-weight: 500;
    font-style: italic;
}

%Latino-URW-Regular {
    font-family: latino-urw, serif;
    font-weight: 400;
    font-style: normal;
}